.apresentacao {
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 100px;
}

.apresentacao img {
  padding-left: 40px;
}

.apresentacao-texto {
  font-family: var(--ft-san);
  color: var(--cor-5);
  font-size: 5rem;
  margin-bottom: 10px;
}

.apresentacao-frase {
  color: var(--cor-3);
  font-family: var(--ft-san);
  font-size: 1.125rem;
}
