:root {
  --cor-1: #401a57;
  --cor-2: #66298a;
  --cor-3: #885aa3;
  --cor-4: #e7e7e7;
  --cor-5: #151515;
  --cor-6: #6d6d6d;
  --bco: #ffffff;
  --pto: #000000;
  --ft-cursiva: "Pacifico", cursive;
  --ft-san: "Fjalla One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

img {
  max-width: 100%;
  display: block;
}
