:root {
  --fundo-container: #fff;
  --fundo-cinza-claro: #ececec;
  --fundo-cinza-1: #111;
  --fundo-cinza-2: #222;
  --fundo-cinza-3: #333;
  --fundo-cinza-hover: #ddd;
  --box-shadow: #00000025;
  --box-border: #00000025;

  --texto--1: #000;
  --texto--2: #222;
}