* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #f7f7f745;
}

body {
  background-color: white;
  max-width: 1000px;
  margin: auto;
}

header img {
  display: block;
  padding: 40px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 20px 40px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

.desc-bicicleta {
  padding: 40px;
  display: grid;
  align-content: center;
}

.desc-bicicleta h1 {
  margin: 10px;
  text-align: right;
}

.desc-bicicleta p {
  margin: 10px;
  font-size: 20px;
  text-align: right;
}

.desc-bicicleta a {
  display: inline-block;
  background-color: #ee2211;
  text-decoration: none;
  place-self: end;
  padding: 20px 40px;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.foto-bicicleta {
  position: relative;
}

.foto-bicicleta img {
  max-width: 100%;
}

.traco {
  top: 40px;
  left: -40px;
  width: 80px;
  height: 5px;
  position: absolute;
  background-color: #ee2211;
}

.vantagens {
  display: grid;
  padding: 40px;
}

.vantagens h1 {
  text-align: right;
  font-size: 64px;
  color: #c6c6c6;
  align-self: center;
}

.desc-vantagens {
  padding: 40px;
}

.desc-vantagens div {
  display: grid;
  margin: 40px auto;
  gap: 10px 20px;
}

.desc-vantagens div img {
}

.desc-vantagens div h4 {
  font-size: 20px;
}

.desc-vantagens div p {
  font-size: 20px;
  grid-column: 2;
}

footer {
  text-align: center;
  padding-bottom: 40px;
}
