@import './reset.css';
@import './header.css';
@import './footer.css';
@import './capa.css';
@import './navegacao.css';
@import './informacoes-pessoas.css';
@import './sobre-mim.css';
@import './informacoes-escolares.css';
@import './informacoes-empresas.css';
@import './cursos.css';
@import './hards-skil.css';
@import './projetos.css';