.informacoes-pessoas {
  width: 100%;
  background-color: var(--fundo-container);
  border: 1px solid var(--box-border);
  border-radius: 10px;
  padding: 15px 40px;
}

.informacoes-pessoas h2 {
  font-size: 24px;
  color: var(--fundo-cinza-1);
}

.informacoes-pessoas p {
  font-weight: bold;
}

.informacoes-pessoas p span {
  font-weight: normal;
}

.informacoes-pessoas p img {
  width: 15px;
  margin-left: 5px;
}



