* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    color: var(--texto--1);
}

img {
    max-width: 100%;
}

body {
    background-color: var(--fundo-cinza-claro);

}

.container-geral {
    width: 1000px;
    margin: 15px auto;
    display: flex;
    gap: 20px;

}

.container-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-central {
    width: 800px;
}

.container-navegacao {
    width: 180px;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    border: 1px solid var(--box-border);
    border-radius: 10px;
    background-color: var(--fundo-container);
}