* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}


main {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: 15px auto;
}

body {
    background-color: #ececec;
}