.sobre-mim {
  width: 100%;
  background-color: var(--fundo-container);
  border: 1px solid var(--box-border);
  border-radius: 10px;
  padding: 15px 40px;
}

.sobre-mim h2 {
  font-size: 24px;
  color: var(--fundo-cinza-1);
}

.sobre-mim p {}

.container-softskils {
  margin: 15px 5px;
  border: 1px solid var(--box-border);
  padding: 5px;
  display: flex;
  border-radius: 5px;
}

.container-softskils img {
  width: 40px;
  height: 40px;
}

.softskils {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.softskils p {}